.swiperButtonPrev,
.swiperButtonNext {
  color: #000 !important;
  top: 50% !important;
  width: 20px !important; /* Smaller width */
  height: 20px !important; /* Smaller height */
  margin-top: -10px !important; /* Adjust to center vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%; /* Round buttons */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.swiperButtonPrev::after,
.swiperButtonNext::after {
  font-size: 14px; /* Smaller arrow icon */
}

.swiperButtonPrev {
  left: -15px !important; /* Adjust as needed */
}

.swiperButtonNext {
  right: -15px !important; /* Adjust as needed */
}

@media (max-width: 767px) {
  .swiperButtonPrev {
    left: -5px !important;
  }

  .swiperButtonNext {
    right: -5px !important;
  }
}

.swiper-pagination {
  bottom: -20px !important; /* Move pagination dots outside */
}
