/* Reviews.module.css */
.swiperButtonPrev,
.swiperButtonNext {
  color: #000 !important;
  top: 50% !important;
  width: 20px !important; /* Smaller width */
  height: 20px !important; /* Smaller height */
  margin-top: -10px !important; /* Adjust to center vertically */
  border-radius: 50%; /* Round buttons */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperButtonPrev::after,
.swiperButtonNext::after {
  font-size: 14px; /* Smaller arrow icon */
}

.swiperButtonPrev {
  left: -15px !important; /* Adjust as needed */
}

.swiperButtonNext {
  right: -15px !important; /* Adjust as needed */
}

@media (max-width: 767px) {
  .swiperButtonPrev {
    left: -5px !important;
  }

  .swiperButtonNext {
    right: -5px !important;
  }
}

.swiper-pagination {
  bottom: -20px !important; /* Move pagination dots outside */
}

/* ปรับความสูงของกล่องคอมเม้นต์ให้คงที่ */
.comment-box {
  height: 200px; /* ปรับความสูงตามที่ต้องการ */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
