@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-custom min-h-screen;
  }
}

@layer utilities {
  .bg-custom {
    @apply relative bg-cover bg-center bg-no-repeat bg-fixed;
    background-image: url("/bg-coolcut-barbershop-inside-shop.jpg"); /* for mobile */
  }

  .bg-custom::before {
    @apply absolute inset-0;
    content: "";
    background: rgba(0, 0, 0, 0.537);
    z-index: -1;
  }

  @media (min-width: 768px) {
    .bg-custom {
      background-image: url("/bg-coolcut-barbershop-inside-shop.jpg"); /* for desktop */
    }

    .bg-custom::before {
      background: rgba(0, 0, 0, 0.537);
    }
  }

  .navbar-fixed {
    @apply fixed top-0 left-0 right-0 bg-emerald-700 text-white shadow-lg z-20;
  }

  .logo {
    @apply w-10 h-10 rounded-full; /* ขนาดและความโค้งมนของโลโก้ */
  }

  .navbar-item {
    @apply mr-4 md:mr-8 hover:text-gray-200; /* ปรับการจัดวางเมนู */
  }

  .main-content {
    @apply mt-10; /* ปรับระยะห่างด้านบนสำหรับเนื้อหาหลัก */
  }

  .mt-6 {
    margin-top: 1.5rem;
  }

  .text-emerald-600 {
    color: #059669; /* ใช้สีเขียวเข้มเพื่อเพิ่มความคอนทราสต์และความสดใส */
  }

  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
