@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen;
  }
}

@layer utilities {
  .bg-custom {
    @apply relative bg-cover bg-center bg-no-repeat;
    background-image: url("/bg-coolcut-barbershop-mobile.jpg"); /* for mobile */
  }

  .bg-custom::before {
    @apply absolute inset-0;
    content: "";
    background: rgba(0, 0, 0, 0.537);
    /* background: rgba(149, 149, 149, 0.537); */
    /* background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: -1;
  }

  @media (min-width: 768px) {
    .bg-custom {
      background-image: url("/bg-coolcut-barbershop-desktop.jpg"); /* for desktop */
    }

    .bg-custom::before {
      background: rgba(0, 0, 0, 0.537);
    }
  }
}
